<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
    SQL<br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>What is CLAUSES IN SQL?
</h2> </div>

SQL clauses are built-in functions that define specific conditions within an SQL statement to retrieve, update, or manipulate data from a database. These clauses work alongside SELECT, UPDATE, DELETE, and INSERT queries to refine results and ensure efficient data handling.

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>Types of SQL Clauses
</h2> </div>

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>Where
</h2> </div>

The WHERE clause is used to filter records based on specific conditions. It is typically used in SELECT, UPDATE, and DELETE queries to restrict the data that is affected by these statements. For example, retrieving all employees with a salary above 50,000.

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>ORDER BY
</h2> </div>

The ORDER BY clause is used to sort the query results in either ascending or descending order. It is commonly used with numeric, date, and text fields to organize data meaningfully, such as sorting employees by their joining date.

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>LIMIT
</h2> </div>

The LIMIT clause restricts the number of rows returned in a query result. This is especially useful in large databases where retrieving all records could be inefficient. For example, fetching the top 5 highest-paid employees.

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>AND
</h2> </div>

The AND clause is used to combine multiple conditions in a query, ensuring that all conditions must be met. It is useful in complex filtering scenarios, such as retrieving employees who work in a specific department and have a salary above 60,000.

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>OR
</h2> </div>

The OR clause is used to combine multiple conditions where at least one must be true. It is useful when searching for multiple criteria, such as retrieving customers from either New York or Los Angeles.

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>FROM
</h2> </div>

The FROM clause specifies the database table from which records will be retrieved. It is a fundamental part of SQL queries as it defines the source of data for SELECT, DELETE, and UPDATE statements.