<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
    SQL<br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>What is SQL
</h2> </div>

* SQL stands for Structured Query Language
* SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the International Organization for Standardization (ISO) in 1987

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>What can SQL do?
</h2> </div>

* SQL can execute queries against a database
* SQL can retrieve data from a database
* SQL can insert records in a database
* SQL can update records in a database
* SQL can delete records from a database
* SQL can create new databases
* SQL can create new tables in a database
* SQL can create stored procedures in a database
* SQL can create views in a database
* SQL can set permissions on tables, procedures, and views

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>Why SQL is used in Data Analysis
</h2> </div>

1. Data Extraction (from databases)

   Analysts use SQL to pull data from databases like MySQL, PostgreSQL, or SQL Server.

   Example: Get all sales from January.

2. Data Cleaning & Filtering

   SQL helps filter missing, duplicate, or incorrect records.

   Example: Remove rows where price IS NULL.

3. Data Transformation

   Modify data using JOIN, CASE, GROUP BY, etc.

   Example: Combine customer and order data to analyze purchases.

4. Data Aggregation

   Summarize data: total sales, average scores, etc.

   Example: Find the average salary per department.

5. Report Creation

   SQL queries are often used to generate dashboards or reports.

   Tools like Power BI or Tableau use SQL to get backend data.

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>CRUD commands of SQL
</h2> </div>

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>CREATE 
</h2> </div>

In SQL, the CREATE command is used to create new database objects, such as tables, databases, views, indexes, etc.

CREATE TABLE table_name (
    column1 datatype constraint,
    column2 datatype constraint,
    ...
);

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>READ
</h2> </div>

To read or fetch data from a table, we use the SELECT statement.

SELECT * FROM students;

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>UPDATE
</h2> </div>

In SQL, the UPDATE command is used to modify existing records in a table.

UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>DELETE
</h2> </div>

In SQL, the DELETE command is used to remove rows from a table.

DELETE FROM table_name
WHERE condition;

DELETE FROM students;

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h2>ALTER
</h2> </div>

n SQL, the ALTER command is used to modify the structure of an existing table (like adding, deleting, or modifying columns).

* Add a new column:
ALTER TABLE students
ADD email VARCHAR(100);
* Modify an existing column:
Modify an existing column:
ALTER TABLE students
MODIFY age INT;
* DROP a column:ALTER TABLE students
DROP COLUMN grade;

<div style="background-color: lightblue; color: white; padding: 10px; text-align: center;">
    <h1>_________________________________END________________________________</h1></div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        
</h1> </div>